<div class="container">
        <% @orders.each do |order| %>
          <h6>Id:  <%= order.id %></h6>
          <h6>Id:  <%= order.status %></h6>
            <a href="#" >Confirm this order </a>
        <%end%>


</div>