// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mycard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 20px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .mycard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #e7ab3c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .mycard button:hover {
    opacity: 0.7;
  }
  
  .post-topbar {
    float: left;
    width: 100%;
    padding: 23px 20px;
    background-color: #fff;
    border-top: 6px solid #e7ab3c;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    // -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
    // box-shadow: 0 0 1px rgb(0 0 0 / 24%);
    margin-bottom: 20px;
  }


  .digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #e7ab3c;
      color: white;
      border: 1px solid #e7ab3c; }
    .digg_pagination a {
      text-decoration: none;
      color: #212529;
      border: 1px solid #e7ab3c; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        border-color: #000033; }
        
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; 
  }
  .rating3 {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 1.5rem;
    overflow:hidden;
  }
  .rating3 input {
  float: right;
  opacity: 0;
  position: absolute;
  }
  .rating3 a,
  .rating3 label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
  }
  .rating3 label:hover ~ label,
  .rating3 input:focus ~ label,
  .rating3 label:hover,
  .rating3 a:hover,
  .rating3 a:hover ~ a,
  .rating3 a:focus,
  .rating3 a:focus ~ a		{
    color: #e7ab3c;
    cursor: pointer;
  }
  .rating2 {
    direction: rtl;
  }
  .rating2 a {
    float:none
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    //width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }