<div class="col-6" >
          <h2>Orders of this product in the last 7 days</h2>
          <div id="stores_orders"
               style='height: 400px; width: 400px'>
                 <%=line_chart OrderDetail.group_by_day(:created_at).where("product_id = (?) AND created_at > (?)",product.id,7.days.ago).sum(:amount)%>
          <div>
     </div>